* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  height: 100%;
}

input, button, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

pre {
  margin: 0;
}

svg {
  flex: 0 0 auto;
}
