* {
  box-sizing: border-box
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #333;
}

input, button, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  background-color: #fafafa;
}

#nav-bar {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 38px;
  padding: 0 8px 0 80px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  -webkit-app-region: drag;
}

#nav-back, #nav-forward {
  width: 28px;
  height: 24px;
  padding: 0;
  margin-right: 4px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  background: transparent;
}
#nav-forward {
  margin-right: 8px;
}
#nav-back:hover, #nav-forward:hover {
  background: #f0f0f0;
}
#nav-back:disabled, #nav-forward:disabled {
  pointer-events: none;
  opacity: .1;
}

#nav-address {
  flex: 1;
  font-size: inherit;
  height: 24px;
  padding: 1px 12px 3px;
  border: none;
  border-radius: 5px;
  background: transparent;
  -webkit-app-region: no-drag;
}
#nav-address:hover,
#nav-address:focus {
  background: #f0f0f0;
}

#viewport {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
}

.viewport-pane {
  flex: 1;
  width: 50%;
  padding: 24px;
  overflow: hidden scroll;
}
.viewport-pane:not(:first-child) {
  border-left: solid thin #ddd;
}
.viewport-pane[hidden] {
  display: none;
}

.content {
  flex: 1;
  max-width: 602px;
  margin: 0 auto;
  font-family: "SF Mono", Menlo, Monaco, monospace;
  font-size: 12px;
  overflow: hidden auto;
}

.content .item {
  position: relative;
  padding: 12px 48px;
  border-radius: 8px;
}

.content .item:not([type="i"]):hover {
  background: #EAF1F6;
  cursor: pointer;
}

.content .item[type="i"] {
  padding: 0 48px;
}

.content .item[type="i"] + .item:not([type="i"]),
.content .item:not([type="i"]) + .item[type="i"] {
  margin-top: 8px;
}

.content .item-icon {
  position: absolute;
  top: 6px;
  left: 16px;
  font-size: 16px;
}

.content .item-link {
  text-decoration: none;
}

.content .item-label {
  white-space: pre-wrap;
}
